.swiper-container {
    width: 1170px;
    height: 780px;
    border: 5px solid silver;
    border-radius: 7px;
    box-shadow: 0 0 20px #ccc inset;
}

.swiper-slide {
    text-align: center;
    display: flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
    align-items: center; /* 위아래 기준 중앙정렬 */
    justify-content: center; /* 좌우 기준 중앙정렬 */
}

.swiper-slide img {
    box-shadow: 0 0 5px #555;
}

.comment-container {
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.comment-container .comment {
    width: 100%;
}

.comment-container .comment .disagree {
    text-align: left;
    padding: 10px;
}

.comment-container .comment .agree {
    text-align: right;
    padding: 10px;
}

.comment-container .comment span {
    border: 1px solid #888;
    border-radius: 5px;
    margin: 5px 20px;
    padding: 10px;
}

.comment-container .comment .disagree span {
    background: #ff8580;
}

.comment-container .comment .agree span {
    background: #8aa0ff;
}

.more-comment {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.issue-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

