{{>layout/header}}
<!-- 클래스명은 변경하면 안 됨 -->
<div class="issue-container">
    <div><h1>{{issue.title}}</h1></div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{#issue.images}}
                <div class="swiper-slide"><img src={{.}}></div>
            {{/issue.images}}
        </div>

        <!-- 네비게이션 지정 -->
        <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
        <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
    </div>
    <div class="issue-description">
        {{#issue.description}}
            {{.}}
        {{/issue.description}}
    </div>
    <div>
        <input type="radio" name="position" value="DISAGREE">반대
        <input type="radio" name="position" value="ABSTENTION" checked>중도
        <input type="radio" name="position" value="AGREE">찬성
    </div>
    <div class="input-comment" style="display: flex; margin-left: auto;margin-right: auto;">
        <input type="hidden" id="issueId" value="{{issue.id}}">
        <textarea placeholder="댓글을 입력하세요" style="width: 1100px; height: 100px;" id="comment"></textarea>
        <button id="createComment" style="height: 100px;">comment</button>
    </div>
    <div class="comment-container">
        <div class="comment">
        </div>
    </div>
    <div class="more-comment"><input type="button" id="more-btn" value="더보기"></div>
</div>
<script>

    new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next', // 다음 버튼 클래스명
            prevEl: '.swiper-button-prev', // 이번 버튼 클래스명
        },
    });

    $('#createComment').on('click', function () {
        const commentData = {
            issueId: Number($('#issueId').val()),
            position: $('input[name="position"]:checked').val(),
            comment: $('#comment').val(),
        }
        $.ajax({
            url: '/api/v1/comment',
            type: 'post',
            contentType: 'application/json',
            accept: 'application/json',
            data: JSON.stringify(commentData),
            statusCode: {
                201: () => {
                    location.reload();
                },
                409: () => {
                    alert('이미 등록했어');
                },
            },
        })
    });
</script>

<!-- 예제 종료 -->

{{>layout/footer}}