{{>layout/header}}

<div>
    <input type="hidden" value="{{issue.id}}">
</div>
<div class="center">
    <h1>{{issue.title}}</h1>
</div>
<div class="center">
    {{#issue.images}}
        <img src="{{.}}"/>
    {{/issue.images}}
</div>
<div class="center">
    {{#issue.description}}
        {{issue.description}}
    {{/issue.description}}
</div>
<div class="center" id="comment">

</div>
{{>layout/footer}}